<div>
  <%= link_to '新規登録', new_question_path %>
</div>

<div>
  <% @questions.each do |q| %>
    <div>
      <%= link_to question_path(q) do %>
        <%= q.title %>
      <% end  %>
    </div>

  <% end %>
</div>

