<div>
  <%= link_to 'アンケート作成', new_question_path %>
</div>

<h2>アンケート一覧</h2>
<div>
  <% @questions.each do |q| %>
    <div>
      <%= link_to question_path(q) do %>
        <%= q.title %>
      <% end  %>
    </div>

  <% end %>
</div>

