<div class="question-wrapper">
  <div class="question-title">
    <div><%= @question.title %></div>
    <div id="question-ans-cnt">回答数: <%= @question.total_ans_cnt %></div>
  </div>

  <div id="choice-wrapper">
    <%= render 'choice_select', question: @question, choices: @choices %>
  </div>
  <%= link_to '戻る', questions_path %>
</div>
