<div class="question-wrapper">
  <div class="question-title">
    <%= @question.title %>
  </div>

  <div class="choice-wrapper">
    <% @choices.each do |choice| %>
      <div class="choice-content">
        <%= link_to question_choice_path(@question, choice), method: :patch do %>
          <%= choice.content %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>