h1 {
  text-align: center;
}

.category-container {
  width: 60%;
  margin: 1% auto;
  .category-items {
    margin: 1% 0;
    .category-item {
      margin: 2% 0;
      .todo-content {
        display: flex;
      }
    }
  }

  .category-form {
    margin-top: 3%;
    text-align: center;
    .form-label {
      width: 30%;
    }
    .form-control {
      font-size: 1.05rem;
    }
    &-btn{
      text-align: right;
    }
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid black;
  width: 60%;
}

.text-area {
  resize: none;
}