.question-wrapper {
  width: 400px;
  margin: 2% auto;
}

.questionnaire-wrapper {
  display: flex;
  justify-content: space-between;
}


.question-title {
  border-bottom: 1px solid black;
  margin: 1%;
  position: relative;
  #question-ans-cnt {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}

#choice-wrapper {
  .choice-content {
    border: 1px solid black;
    margin: 1%;
    padding: 2%;
    position: relative;
    .choice-front {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      background-color: rgba(6, 245, 255, 0.2);
      height: 100%;
    }
    .choice-percentage {
      position: absolute;
      bottom: 0;
      right: 20px;
      font-size: 8px;
    }
  }
}

.question-content {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-bottom: 2%;
}

.genre-wrapper {
  display: flex;
}

.genre-title {
  padding: 1rem 2rem;
  border-left: 6px double #000;
  background: #f4f4f4;
  color: blue;
}

.genre-search {
  & > p{
    font-style: italic;
  }
}