.question-wrapper {
  width: 400px;
  margin: 2% auto;
}

.question-title {
  border-bottom: 1px solid black;
  margin: 1%;
}

.choice-wrapper {
  .choice-content {
    border: 1px solid black;
    margin: 1%;
    padding: 2%;
  }
}